<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="GeoMesaCoverageStorePanel" class="org.geoserver.web.data.resource.DataStorePanelInfo">
        <property name="id" value="GeoMesaCoverageStorePanel"/>
        <property name="factoryClass" value="org.locationtech.geomesa.raster.wcs.GeoMesaCoverageFormat"/>
        <property name="iconBase" value="org.geoserver.web.GeoServerApplication"/>
        <property name="icon" value="img/icons/geosilk/database_raster.png"/>
        <property name="componentClass" value="org.geomesa.gs.wcs.GeoMesaCoverageStoreEditPanel"/>
    </bean>
</beans>
