<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="geomesaAuditor" class="org.geomesa.gs.security.audit.AuditRequestDataListener">
    <constructor-arg index="0" ref="auditDataContext"/>
    <constructor-arg index="1" value="geomesa.audit"/>
    <constructor-arg index="2" value="1024"/>
  </bean>

  <bean id="auditDataContext" class="org.apache.metamodel.csv.CsvDataContext">
    <constructor-arg index="0" ref="auditFile"/>
  </bean>

  <bean id="auditFile" class="java.io.File">
    <constructor-arg index="0" value="/tmp/geomesa-audit.csv"/>
  </bean>

</beans>
