<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="geomesaCatalogListener" class="org.geomesa.gs.catalog.kafka.GeoMesaKafkaCatalogListener">
        <!-- geoserver catalog -->
        <property name="catalog" ref="catalog"/>
    </bean>

    <bean id="geomesaKafkaLoadingStatus" class="org.geomesa.gs.catalog.kafka.GeoMesaKafkaLoadingStatus"/>
</beans>
