name: build

on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+.x'
    tags:
      - '**'
  pull_request:
  schedule:
    # run nightly to pick up any errors caused by changes in main geomesa
    - cron: '30 2 * * *' # 0230 UTC, 2130 EST

jobs:
  build-scala:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [ "2.12", "2.13" ]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Set Scala version
        run: ./build/scripts/change-scala-version.sh ${{ matrix.version }}
      - name: Build with Maven
        run: mvn clean install
      - name: Remove geomesa artifacts
        run: |
          rm -rf ~/.m2/repository/org/geomesa/geoserver
