name: build

on:
  push:
    branches:
      - main
      - '[0-9]+.[0-9]+.x'
    tags:
      - '**'
  pull_request:
  schedule:
    # run nightly to pick up any errors caused by changes in main geomesa
    - cron: '30 2 * * *' # 0230 UTC, 2130 EST

jobs:
  build-scala:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [ "2.12", "2.13" ]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      - name: Set Scala version
        run: ./build/scripts/change-scala-version.sh ${{ matrix.version }}
      - name: Build with Maven
        run: mvn clean install
      - name: Remove geomesa artifacts
        run: |
          rm -rf ~/.m2/repository/org/geomesa/geoserver
