name: build

on:
  push:
  pull_request:
  schedule:
    # run nightly to pick up any errors caused by changes in main geomesa
    - cron: '30 2 * * *' # 0230 UTC, 2130 EST

jobs:
  build-scala:
    strategy:
      fail-fast: false
      matrix:
        version: [ "2.12", "2.13" ]

    runs-on: ubuntu-latest
    # avoid duplicate jobs on PRs from the main repo
    if: github.event_name == 'schedule' || github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - name: Set Scala version
        run: ./build/scripts/change-scala-version.sh ${{ matrix.version }}
      - name: Build with Maven
        run: mvn clean install
      - name: Remove geomesa artifacts
        run: |
          rm -rf ~/.m2/repository/org/geomesa/geoserver
